.header {
  overflow: hidden;
  background: #1d1d1d;
  padding: 0 22px;
}

.header a {
  display: block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
  line-height: 20px;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
}

.header a:hover {
  color: #aaa;
}

.nav {
  float: left;
  max-height: 0;
  width: 100%;
}

.nav ul {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

.nav li {
  display: block;
  text-align: center;
}

.active a {
  text-decoration: underline;
}

.nav a {
  padding: 10px;
  width: 100%;
}

#nav {
  display: none;
}

#nav:checked ~ .nav {
  max-height: 200px;
}

@media only screen and (min-width: 700px) {
  .nav {
    width: auto;
    max-height: none;
  }

  .nav ul {
    padding: 0;
    padding-right: 10px;
  }

  .nav li {
    display: inline-block;
    text-align: left;
  }

  .header .nav a {
    display: inline-block;
    padding: 20px 10px;
    width: auto;
  }
}
